.button-priceAnnouncement button {
  width: 33.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.1875rem;
  border: none;
  background: #59ae43;
  border-radius: 3.125rem;
  padding: 1rem 4rem;
  cursor: pointer;
}

.button-priceAnnouncement span {
  color: #fff;
  font-family: "Manrope";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.button-priceAnnouncement button img {
  width: 1rem;
}

@media (max-width: 47.9375rem){
  .button-priceAnnouncement button {
    width: 21.25rem;
    height: 3.1875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .625rem;
  }

  .button-priceAnnouncement span{
    color: #FFF;
    font-family: 'Manrope';
    font-size: .875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
