.secondaryHeader-container {
  display: flex;
  width: 1245px;
  padding: 30px 0px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.clarifion-logo img {
  width: 12rem;
  height: auto;
}

.antivirus-logo {
  display: flex;
  align-items: center;
}

.antivirus-logo img {
  width: 6.25rem;
  height: auto;
  margin-right: 0.625rem;
}
