.step-container {
  width: 77.8125rem;
  display: flex;
  justify-content: center;
  margin: 3.75rem auto;
  justify-content: space-between;
}

.step {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.step .greenCircle img {
  width: 2.5rem;
  height: 2.5rem;
  fill: #85bf55;
  stroke-width: 0.125rem;
  stroke: #85bf55;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step .stepTitle span {
  color: #000;
  font-family: "Manrope";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
}

@media (max-width: 47.9375rem) {
  .step-container{
    margin-bottom: 0;
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
  }

  .step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .step .greenCircle img{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: #85BF55;
    stroke-width: .125rem;
    stroke: #85BF55;
  }

  .step .stepTitle span {
    text-align: center;
    color: #000;
    font-family: 'Manrope';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
  }
}