.step-container {
  width: 1245px;
  display: flex;
  justify-content: center;
  margin: 60px auto;
  justify-content: space-between;
}

.step {
  display: flex;
  align-items: center;
  gap: 20px;
}

.step .greenCircle img {
  width: 40px;
  height: 40px;
  fill: #85bf55;
  stroke-width: 2px;
  stroke: #85bf55;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step .stepTitle span {
  color: #000;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
}
