.purchase-info-responsive {
    width: 20.0625rem;
    height: 4.4375rem;
    margin: .625rem;
    display: flex;
    padding: .5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    border: .0625rem solid #CFCFCF;
}

.up-side{
    width: 18.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    white-space: nowrap;
}

.up-side span{
    color: #4D5254;
    font-family: 'Manrope';
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
}

.line-2{
    width: .0625rem;
    height: .875rem;
}

.lock-2 img{
    width: .75rem;
    height: .75rem;
    
}

.line-3 img{
    width: 18.0625rem;
    height: .0625rem;
}

.down-side{
    margin: .1875rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-side img{
    width: 11.25rem;
}