/* styles.css */
.annoucement-container {
    width: 77.8125rem;
    height: 54.9375rem;
    border-radius: .625rem;
    background: #FAFAFA;
    margin: 2.5rem auto;
    border: 2px solid red;
}

.leftImgContent {
    padding: 40px 40px;
}

.leftImgContent img {
    width: 575px;
    height: 591px;
    flex-shrink: 0;
}

.leftComment {
    display: flex;
    width: 575px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.profileImg{
    width: 64px;
    margin: 0px 20px 0px 0;

}

.profileImg img{
    margin: 0rem 4rem;
    width: 48px;
    height: 48px;
    align-self: flex-start; 
}

.comentStats{
    margin: 0 2.3125rem;
}

.comentRating img{
    width: 78.1088px;
    height: 11.9456px;
    margin: 0 10px;
}

.titleComent{
    display: flex;
    align-items: center;
}

.profileName{
    display: inline-flex;
    align-items: center;
    margin: 0 13px;
    gap: 10px;
}

#profileName{
    color: #333;
    font-family: 'Manrope';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.profileName img{
    width: 16px;
    height: 16px;
}

.profileName span{
    color: #5BB59A;
    font-family: 'Manrope';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.comentText{
    width: 527px;
    height: 72px;
    margin: 18px 64px;

}

.comentText span{
    color: #4D5254;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}