.announcements-container {
  display: flex;
  width: 77.8125rem;
  height: 54.9375rem;
  border-radius: .625rem;
  background: #fafafa;
  margin: 0 auto;
}

.left-container,
.right-container {
  flex: 1;
}
